@model CategoriesModel

<ul class="nav nav-pills mb-3">
    @foreach (var category in Model.Categories)
    {
        <li class="nav-item">
            <a class="nav-link @(category.Id == Model.ActiveMovie.Category ? "active" : "")" asp-controller="Movie" asp-action="Categories" asp-route-id="@category.Id">
                @category.Title
            </a>
            <img src="@category.Image" alt="@category.Title" style="width:200px;height:250px;">
        </li>
    }
    
</ul>